/* NAVIGATION */
/*
- NAVIGATION
- SIDEBAR NAVIGATION
- SIDEBAR NAVIGATION STATES

*/

// NAVIGATION

.nav {
}


// SIDEBAR NAVIGATION

.nav--sidebar {
  @include section;
  text-transform: capitalize;
  .nav {
    &__title {
      @include padding-standard;
      @include section-title;
      background: $evertrue-blue-green;
      border: 2px solid $gray-10;
      border-bottom: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: $white;
    }
    &__links {
      @include unstyled-list;
      background: $white;
      border: 2px solid $gray-10;
      border-top: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &__link-item {
      @include padding-standard;
      border-top: 2px solid $gray-10;
      &:first-child {
        border-top: none;
      }
    }
    &__link {
      color: $evertrue-blue;
      font-weight: 600;
      text-decoration: none;
    } 
    &__link-sections {
      @include unstyled-list;
      display: none;
    } 
    &__link-section-item {
      border-left: 3px solid $evertrue-blue-green;
      margin-bottom: 0.125rem;
      padding: .5rem;
    }
    &__link-section {
      color: $evertrue-blue-green;
      text-decoration: none;
    } 
  }
} 


// SIDEBAR NAVIGATION STATES

// Active Link Category
.nav--sidebar {
  .nav__link-item {
    &.active {
      .nav__link {
        color: $gray-80;
      }
      .nav__link-sections {
        display: block; 
      }
    }
  }
}

// Active Link Section
.nav--sidebar {
  .nav__link-section-item {
    &.active {
      border-color: purple;
      .nav__link-section {
        color: purple;
      }
    }
  }
}